canvas {
    border-radius: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}
#butaosi{
    border-radius: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 0;
    padding-right: 0;
    margin-left: 24.5%;
    margin-right: auto;
    width: 25%;
    min-width: 250px;
    display: inline-block;
    vertical-align: top;
}
#butaoso{
    border-radius: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    width: 25%;
    min-width: 250px;
    display: inline-block;
    vertical-align: top;
}
.button {
    border: none;
    color: grey;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;}
.up {
    width: 98%;
    height: 33%;}
.left {
    width: 47%;
    height: 33%;
}
.right {
    width: 47%;
    height: 33%;
}
.down {
    width: 98%;
    height: 33%;
}
.enter {
    width: 98%;
    height: 49%;
    margin-bottom: 18.4%;
}
.back {
    width: 98%;
    height: 49%;
}

body {
    background-image: url("../Images/fundo/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@font-face {
    font-family: brassMono;
    src: url("../fonte/brassmono.otf");
}